.category {
    margin: 5px;

    .category-info {
        margin-top: 15px;
        padding: 15px;
        background: #efefef;

        h2,
        p {
            font-family: Roboto;
            margin: 0;
            color: #444;
        }

        h2 {
            font-size: 130%;
        }

        p {
            font-size: 80%;
        }
    }

    .category-board-container {
        .board {
            padding: 15px;
            border-bottom: 1px solid #eee;
            display: flex;
            justify-content: center;
            align-items: center;

            h3,
            p,
            .last-message,
            .num-topics-posts {
                margin: 0;
                font-family: Roboto;
            }

            h3 {
                font-size: 110%;

                a {
                    color: steelblue;
                    text-decoration: none;
                    font-weight: normal;
                }
            }

            p,
            .num-topics-posts,
            .last-message {
                font-size: 90%;
                color: #666;
            }

            .general-board-info {
                width: 65%;
                float: left;
            }

            .num-topics-posts {
                width: 10%;
                float: left;

                span {
                    font-size: 115%;
                    display: block;
                }
            }

            .last-message {
                width: 25%;
                float: left;

                a {
                    color: steelblue;
                    text-decoration: none;
                    font-weight: normal;
                }
            }
        }
    }
}
