.heading {
    font-family: Roboto;
}

.spinner-container {
    text-align: center;
}

.hr {
    margin-bottom: 15px;
    margin-top: 15px;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
