#topic-list {
    padding: 15px;

    .topic-list-item {
        padding: 15px;
        font-family: 'Roboto';
        border-bottom: 1px solid #eee;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #444;

        .topic-title-container {
            width: 50%;
            float: left;

            .topic-title {
                font-size: 110%;
            }
        }

        .topic-num-replies {
            width: 10%;
            float: left;
        }

        .topic-last-message {
            width: 40%;
            float: left;
        }

        a {
            color: steelblue;
            text-decoration: none;
        }
    }
}
